<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ಇದೊಂದು ಸುದ್ದಿ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ಇದೊಂದು ಸುದ್ದಿಗಾಗಿ " name="keywords">
    <meta content="ಇದೊಂದು ಸುದ್ದಿಗಾಗಿ ಇದು ನೋಡುತಾ ಇರಿ " name="description">
    <meta content="ಇದೊಂದು ಸುದ್ದಿಗಾಗಿ ಇದು ನೋಡುತಾ ಇರಿ " name="url">
    <meta content="https://picsum.photos/200/300" name="image">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/user/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/user/css/style.css" rel="stylesheet">
</head>

<body>
    {{>user-header}}
    <!-- Topbar Start -->
 {{{body}}}
 {{>footer}}
   
  


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/user/lib/easing/easing.min.js"></script>
    <script src="/user/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/user/js/main.js"></script>
</body>

</html>